* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", san-serif;
}

body{
    font-size: 1.2rem;
    background-color: #e5e5e5;
    z-index: -100;

}

button, input{
    font: inherit;
}

.custom__padding{
    padding: 0 2rem;
}

button{
    background-color: #fca311;
    border: 1px solid #e5e5e5;
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
    border-radius: .5rem;
}

.btn-primary{
    background-color: #00A6FB;
    padding: .5rem;
    color: #fff;
    border-radius: .3rem;
}

.header{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
